body{
    background-color: ghostwhite;
}
.card{
    background-color: ghostwhite;
    border-radius: 5px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    
}

.jumbotron{
    background-color: ghostwhite;
    font-family: 'Iceberg', cursive;

    
}


.card-img-top{
    width: 30%;
}
.list-group-item{
    background-color: ghostwhite;
    border: 0px;
    font-family: 'Rajdhani', sans-serif;

    
}
.gif-container{
    background-color: ghostwhite;
    

}
#word{
    background-color: blueviolet;
}