body{
    background-color: ghostwhite;
}
.card{
    background-color: ghostwhite;
    border-radius: 5px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    
}

.jumbotron{
    background-color: ghostwhite;
    font-family: 'Rajdhani', sans-serif;

    
}


.card-img-top{
    width: 30%;
}
.list-group-item{
    background-color: ghostwhite;
    border: 0px;
    font-family: 'Rajdhani', sans-serif;

    
}
li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
}
.gif-container{
    background-color: ghostwhite;
    

}
#word{
    background-color: ghostwhite;
}
h2{
    font-family: 'Rajdhani', sans-serif;
  
}
.card-text{
    font-size: 20px;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;

}