body{
    background-color: ghostwhite;
}

.card{
    background-color: rgb(53, 112, 53);
    border-radius: 5px;
    width: 100%;
}

.jumbotron{
    background-color: ghostwhite;
    border-radius: 10px;
    border: 5px;
    border-style: double;
}